{% load static %}
<!-- start navbar -->
    <div class="container_wrap" style="border-bottom:1px solid #b3b3b3; min-height:10%;">
        <div class="container" style="min-height:10%; padding-top:5px;">
            <nav class="navbar navbar-expand-lg navbar-light bg-light4">
                <a class="navbar-brand" href="{% url 'maps:map' %}">
                    <img src="{% static 'images/base/YTBL_logo.png' %}" width="130px" height="44px">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
<!-- 네비 목록은 기존 ytbl에서 가져올 예정 -->

                </div>
            </nav>
        </div>
    </div>
<!-- end navbar -->